<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />


<title>Suave Bookstore</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/navbars/" />
<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<link rel="icon" href="/image/applie-touch-icon.png" />

</head>



<body>
	<!-- <div th:fragment="navbar">

		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #696969"></div>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/" color="#ffffff">SUAVE BOOKSTORE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample02" aria-controls="navbarsExample02"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="dropdown"><a th:href="@{/bookshelf}"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false"
						style="color: darkgray;">BOOKS</a>
						<ul class="dropdown-menu">

							<li><a th:href="@{/bookshelf}">Browse the bookshelf</a></li>
							<li><a th:href="@{/hours}">Store hours &#38; Directions</a></li>
							<li><a th:href="@{/faq}">FAQ</a></li>

						</ul></li>
					<form class="navbar-form">
						<div class="form-group">
							<input type="text" name="keyword" class="form-control"
								placeholder="Book title" />
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/shoppingCart/cart}"
						style="color: darkgray;">SHOPPING CART</a></li>
					<li><a sec:authorize="isAnonymous()" th:href="@{/login}"
						style="color: darkgray;">MY ACCOUNT</a></li>
					<li><a sec:authorize="isAuthenticated()"
						th:href="@{/myProfile}" style="color: darkgray;">MY ACCOUNT</a></li>
					<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"
						style="color: darkgray;">LOGOUT</a></li>
				</ul>
			</div>
		</nav>

	</div>
	<br />
	<br />
	<div th:fragment="footer" style="background-color: #696969">

		<footer>
			<div class="row">
				<div class="col-xs-3 footerleft">
					<h6 class="heading7">ABOUT US</h6>
					<ul class="post">
						<p>
							Suave's Independent Book Store. <br />Serving our customers with
							the best.
						</p>
						<p>© 2020 - All Rights Reserved</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">CONTACT</h6>
					<ul class="post">
						<p>
							Address:<br />Paseo de las Delicias, 23, Madrid, Spain
						</p>
						<p>
							<i class="fa fa-phone"></i> Phone : +34 877 877 877
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail :
							bookstoresuavecito@gmail.com
						</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">LINKS</h6>
					<ul class="footer-ul">
						<li><a href="#" style="color: darkgray"> Privacy Policy</a></li>
						<li><a href="#" style="color: darkgray"> Terms &#38;
								Conditions</a></li>
						<li><a href="/faq" style="color: darkgray"> Frequently
								Asked Questions</a></li>
						<li><a href="/hours" style="color: darkgray">Store Map</a></li>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">STORE HOURS</h6>
					<div class="post">
						<p>Monday - Saturday: 9am - 18pm</p>
						<p>Saturday: 10am - 18pm</p>
						<p>Sunday: 11am - 16pm</p>
					</div>
				</div>
			</div>
		</footer>
	</div> -->
	
	<div th:fragment="navbar">

		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #696969"></div>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/" color="#ffffff">МАГАЗИН ЗА КНИГИ SUAVE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample02" aria-controls="navbarsExample02"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="dropdown"><a th:href="@{/bookshelf}"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false"
						style="color: darkgray;">КНИГИ</a>
						<ul class="dropdown-menu">

							<li><a th:href="@{/bookshelf}">Разгледайте рафта с книги</a></li>
							<li><a th:href="@{/hours}">Работно време &#38; Адрес</a></li>
							<li><a th:href="@{/faq}">Често задавани въпроси</a></li>

						</ul></li>
					<!-- <form class="navbar-form">
						<div class="form-group">
							<input type="text" name="keyword" class="form-control"
								placeholder="Book title" />
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form> -->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/shoppingCart/cart}"
						style="color: darkgray;">КОЛИЧКА ЗА ПАЗАРУВАНЕ</a></li>
					<li><a sec:authorize="isAnonymous()" th:href="@{/login}"
						style="color: darkgray;">МОЯ АКАУНТ</a></li>
					<li><a sec:authorize="isAuthenticated()"
						th:href="@{/myProfile}" style="color: darkgray;">МОЯ ПРОФИЛ</a></li>
					<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"
						style="color: darkgray;">ИЗЛЕЗ ОТ ПРОФИЛА СИ</a></li>
				</ul>
			</div>
		</nav>

	</div>
	<br />
	<br />
	<div th:fragment="footer" style="background-color: #696969">

		<footer>
			<div class="row">
				<div class="col-xs-3 footerleft">
					<h6 class="heading7">ЗА НАС</h6>
					<ul class="post">
						<p>
							Независим магазин за книги Suave. <br /> Обслужване на нашите клиенти с най-доброто.
						</p>
						<p>© 2020 - Всички права запазени</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">КОНТАКТИ</h6>
					<ul class="post">
						<p>
							Адрес:<br />Paseo de las Delicias, 23, Madrid, Spain
						</p>
						<p>
							<i class="fa fa-phone"></i> Телефон : +34 877 877 877
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail адрес :
							bookstoresuavecito@gmail.com
						</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">ЛИНКОВЕ</h6>
					<ul class="footer-ul">
						<li><a href="#" style="color: darkgray"> Политика за поверителност</a></li>
						<li><a href="#" style="color: darkgray"> Правила и условия</a></li>
						<li><a href="/faq" style="color: darkgray"> Често задавани въпроси</a></li>
						<li><a href="/hours" style="color: darkgray">Локация</a></li>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">РАБОТНО ВРЕМЕ</h6>
					<div class="post">
						<p>Понеделник - Петък: 9am - 18pm</p>
						<p>Събота: 10am - 18pm</p>
						<p>Неделя: 11am - 16pm</p>
					</div>
				</div>
			</div>
		</footer>
	</div>


	<div th:fragment="body-bottom-scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script
			src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/scripts.js}"></script>
		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>