<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">
<meta charset=utf-8>
</head>
<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<!-- <span>Frequently asked questions</span> -->
					<span>Често задавани въпроси</span>
				</h2>
			</div>

			<div class="col-xs-4" vstyle="width: 400px; height: 320px">
				<a th:href="@{/}"><img src="/image/logo.png"
					class="img-responsive"
					style="padding: 1px 6px; cursor: pointer; width: 100%;" /></a>
			</div>
		</div>
		<hr
			style="position: absolute; width: 73%; height: 6px; background-color: #333; z-index: -1; margin-top: -60px;" />

	</div>
	<div class="row" style="margin-top: 120px;">
		<div class="col-xs-7 col-xs-offset-3">
			<h3>Пазаруване</h3>
			<hr />
			<h4 class="question">В: Как да направя поръчка?</h4>
			<p>О:&nbsp;Първо трябва да създадете акаунт, след като веднъж е
				създаден, сте готови да направите поръчка.</p>
			<h4 class="question">В: Как да си създам акаунт?&nbsp;</h4>
			<p>О: Кликнете върху бутона МОЯ АКАУНТ в горния десен ъгъл на
				главната страница и след това кликнете върху "Създай нов акаунт".</p>
			<h4 class="question">В: Колко време отнема обработката и
				изпращането на поръчките?</h4>
			<p>О: За експресна доставка до 3 работни дни, а за обикновена до
				5 работни дни.</p>
			<h4 class="question">В: Налични ли са всички артикули?</h4>
			<p>О:Опитваме се да актуализираме уебсайта възможно най-често, за
				да отразим изчерпаните артикули. Възможността за поръчка на артикул
				обаче не е гарантира, може да не е наличен на склад. Ще бъдете
				уведомени, ако поръчката не е налична.</p>
			<h4 class="question">В: Не мога да намеря конкретен артикул на
				уебсайта, налични ли са артикули, които не са изброени на уебсайта?</h4>
			<p>О:&nbsp;Артикулите, които в момента се показват на нашия
				уебсайт, представляват това, което в момента е достъпно за
				разглеждане и поръчване онлайн. В книжарница Suave има по-широк
				избор от стоки. Моля, посетете нашият магазин.
			<h4 class="question">В: Как мога да проверя състоянието на
				поръчката си?</h4>
			<p>О: Ако сте се регистрирали с акаунт в магазин за книги Suave,
				кликнете върху „МОЯ АКАУНТ“ и влезте с вашето потребителско име и
				парола. Можете да видите състоянието на всички поръчки. Можете също
				да се свържете с нас на &nbsp;+359877877877 с вашето имена, номер на
				поръчка, и да заявите, че искате да проверите статуса на вашата
				поръчка. Нашето работно време е: Понеделник - Петък 9:00am- 18:00pm,
				Събота 10:00am - 18:00pm и Неделя 11:00am - 16:00pm</p>
			<h4 class="question">В:Как мога да откажа или да променя моята
				поръчка?</h4>
			<p>О:&nbsp;Може да се откажете или да промените вашата поръчка
				като се обадите на +359877877877 въдможна най-скоро, след като се
				направили поръчката и да посичите вашите имена, ночер на поръчка с
				вашето желание - за отказ или промяна . Ние ще направим всичко
				възможно, за да откажем или променим вашата поръчка, но ние няма да
				имаме възможност да ви помогнем, ако поръчката вече е била изпратена</p>

			<h3>Доставка&nbsp;</h3>
			<hr />
			<p>Магазин за книги Suave с гордост ви предлага конкурентни цени
				за доставка. Всички наши пратки са професионално опаковани, за да
				осигурят безопасността на вашите артикули в маршрута.</p>
			<h4 class="question">В: Колко струва таксата за доставка при
				поръчки?</h4>
			<p>О: Таксата за доставка зависи от общата сума на поръчаната
				стока, както и от избрания метод за доставка.</p>
			<h4 class="question">В: Кога ще получа поръчката си?</h4>
			<p>О: Вашата поръчка ще бъде получена средно след 1 - 5 работни
				дни.</p>
		</div>
	</div>
	</div>
	<br />
	<br />
	<div th:replace="common/header :: footer" />

	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>