<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<meta charset=utf-8>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<!-- IF is admin -->
	<div th:if="${isAdmin}">
		<p>
			Нова поръчка от потребител: <span th:text="${user.firstName}"></span> <br />
			Имейл на потребителя: <span th:text="${user.email}"></span>
		</p>
	</div>
	<!-- ELSE -->
	<div th:unless="${isAdmin}">
		<p>
			Здравейте, <span th:text="${user.firstName}"></span>,
		</p>
		<p>Благодарим ви, че пазарувате от нашия магазин. Надяваме се да останете доволни от нашата услуга!</p>
	</div>
	<hr />
	<h2>
		Детайли за поръчка с номер #<span th:text="${order.id}"></span>
	</h2>
	<table>
		<tr>
			<th th:unless="${isAdmin}">Адрес на плащане</th>
			<th th:unless="${isAdmin}">Информация за плащането</th>
			<th>Адрес за доставка</th>
		</tr>
		<tr>
			<td th:unless="${isAdmin}"><span
				th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
				<span th:text="${order.billingAddress.billingAddressCity}"></span><br />
				<span th:text="${order.billingAddress.billingAddressCountry}"></span><br />
				<span th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
			</td>
			
			<td th:unless="${isAdmin}"><span th:text="${order.payment.holderName}"></span><br /> <span
				th:text="${order.payment.type}"></span><br /> <span
				th:text="${order.payment.cardNumber}"></span><br /> <span>Дата на валидност:</span><span th:text="${order.payment.expiryMonth}"></span>/<span
				th:text="${order.payment.expiryYear}"></span><br /></td>
				
			<td><span
				th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressCountry}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
			</td>
		</tr>
	</table>

	<h3>
		<strong>Информация на поръчката</strong>
	</h3>
	<table>
		<thead>
			<tr>
				<td><strong>Име на артикул</strong></td>
				<td class="text-center"><strong>Цена</strong></td>
				<td class="text-center"><strong>Колечество</strong></td>
				<td class="text-right"><strong>Общо</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cartItem : ${cartItemList}">
				<td><span data-th-text="${cartItem.book.title}"></span></td>
				<td class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
				<td class="text-center" data-th-text="${cartItem.qty}"></td>
				<td class="text-right" data-th-text="${cartItem.subtotal}"></td>
			</tr>
			<tr>
				<td class="highrow"></td>
				<td class="highrow"></td>
				<td class="highrow text-center"><strong>Цена без ДДС</strong></td>
				<td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
			</tr>
			<tr>
				<td class="emptyrow"></td>
				<td class="emptyrow"></td>
				<td class="emptyrow text-center"><strong>ДДС</strong></td>
				<td class="emptyrow text-right"
					data-th-text="${#numbers.formatDecimal(order.orderTotal*0.20,0,2)}"></td>
			</tr>
			<tr>
				<td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
				<td class="emptyrow"></td>
				<td class="emptyrow text-center"><strong>Обща сума (в лева)</strong></td>
				<td th:with="total=${order.orderTotal+order.orderTotal*0.20}"
					data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
					class="emptyrow text-right"></td>
			</tr>
		</tbody>
	</table>

	<br />
	<p>Поздрави,</p>
	<p>Магазин за книги Suave</p>
</body>
</html>